[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
flask = "*"
gunicorn = "*"
geocoder = "*"
pytz = "*"
bugsnag = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"

[requires]
python_version = "3.6"
