{% extends "layout.html" %}
{% block content %}
<div id="js_alert_placeholder"></div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('connect', function () {
  socket.emit('my event', {data: 'wub wub'});
  });
  function showalert(message, alerttype) {
    $('#js_alert_placeholder').append('<div id="alertdiv" class="alert alert-' + alerttype + '"><button type="button" class="close" data-dismiss="alert">&times;</button><span>' + message + '</span></div>')
  };
  socket.on('booked', function (data) {
    console.log(`EVENT WAS RECEIVED: ${data.matched_bike_address}!!!!!!!!!!`);
    showalert(`Found bike (${data.bike_name}) at ${data.address}`, 'success')
  });
</script>
{% endblock content %}
