{% extends "layout.html" %}
{% block content %}
<div id="js_alert_placeholder"></div>
<div>
  🚧 Soon: cancel rental and more
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io.connect(`https://${document.domain}:${location.port}/booking_{{ booking.id }}`, {secure: true, reconnect: true, rejectUnauthorized : false});
  function showalert(alerttype, address, id) {
    var banner_content = alerttype === 'success'
      ? `Found bike #${id} at ${address} - <a href="https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(address.trim())}">View directions</a>`
      : 'No bike found :(';
    $('#js_alert_placeholder').append(`<div id="alertdiv" class="alert alert-${alerttype}"><button type="button" class="close" data-dismiss="alert">&times;</button><span>${banner_content}</span></div>`)
  };
  socket.on('booked', function (data) {
    showalert(data.status, data.address, data.bike_name)
  });
</script>
{% endblock content %}
