{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
  <table class="table table-hover">
    <caption>Times are in PDT</caption>
    <thead class="thead-light">
      <th scope="col">Date of request</th>
      <th scope="col">Request address</th>
      <th scope="col">Bike address</th>
      <th scope="col">Status</th>
    </thead>
    <tbody>
      {% for booking in bookings.items %}
      <tr class="table-{{ 'success' if booking.status == 'booked' else
      'secondary' if booking.status == 'cancelled' else
      'danger' if booking.status == 'error' else
      'warning' if booking.status == 'not found' else
      'info' if booking.status == 'match found' else
      'default'}}" onclick="window.location.href='{{ url_for('booking_id',id=booking.id) }}'"
      style="cursor:pointer;">
        <th scope="row">{{ booking.created_at | datetimefilter }}</th>
        <td>{{ booking.human_readable_address }}</td>
        <td>{{ booking.matched_bike_address if booking.matched_bike_address else '' }}</td>
        <td>{{ booking.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
